JB_CNC_UNO.kicad_pcb.bak
JB_CNC_UNO.bak
JB_CNC_UNO-cache.lib
JB_CNC_UNO-cache.bak
JB_CNC_UNO-cache.dcm
JB_CNC_UNO-cache.bck
JB_CNC_UNO-rescue.bak
JB_CNC_UNO-rescue.bck
JB_CNC_UNO-rescue.dcm
JB_CNC_UNO-rescue.lib
report.txt~
report.txt
